#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
.login-form {
  position: relative;
  width: 400px;
  margin: 0 auto;
  top: 300px;
}
.login {
  margin: 0px;
  background: url(./img/register.jpg) no-repeat;
  background-size: 100% 100%;
  height: 900px;
  background-attachment: fixed;
}
.login-form-button {
  position: relative;
  width: 400px;
  bottom: 50px;
}
.register {
  position: relative;
  left: 20%;
  bottom: 50px;
  color: red;
}
